.task-priority-options-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


.task-priority{
    color: #D58D49;
    background-color:  #DFA87433;
    width: 35px;
    height: 23px;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 4px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;  
}

.task-options{
    color: #fff;
    cursor: pointer;
}

.task-item-main-container{
    background-color: #3F4041;
    width: 100%;
    height: 190px;
    border-radius: 16px ;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.task-title{
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    color: #fff;
}

.task-description{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    color: #fff;
    margin-top: 10px;
}

.task-time{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #AAAAAA;
}

.task-item-footer{
    margin-top: auto;
}