.task-priority-options-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


.task-priority{  
    height: 23px;
    padding: 5px;
    border-radius: 4px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;  
}

.Low{
    color: #D58D49;
    background-color:  #DFA87433; 
}

.High{
    background-color: #D8727D1A;
    color: #D8727D;
}

.Completed{
    background: #83C29D33;
    color: #68B266;
}

.task-options{
    color: #fff;
    cursor: pointer;
}

.task-item-main-container{
    background-color: #3F4041;
    width: 100%;
    height: 180px;
    border-radius: 16px ;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.task-title{
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    color: #fff;
}

.task-description{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    color: #fff;
    margin-top: 10px;
}

.task-time{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #AAAAAA;
}

.task-item-footer{
    margin-top: auto;
}


/* drop down options */

.task-options-container {
    position: relative;
}

.task-options {
    cursor: pointer;
    font-size: 20px;
}

.options-dropdown {
    position: absolute;
    top: 25px; /* adjust as needed */
    right: 0; /* aligns the dropdown with the right side of the three dots */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    width: 100px;
}

.option-item {
    padding: 8px 12px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.2s ease-in-out;
}

.option-item:hover {
    background-color: #f1f1f1;
}
